
 <div class="col-12">
    <nav class="navbar navbar-expand-sm bg-light ">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" class="linkstyle" href="#">contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="linkstyle" href="#">careers</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" class="linkstyle" href="#">privacy policy</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " class="linkstyle" href="#">about us</a>
              </li>
            </ul>
          </nav>
    </div>