<div class="container-fluid">

<div class="row">

    <div class="col-4">

    <div class="bags">
    
              <div class="row" >
                   
                    <div routerLink="/details"><img src="assets\images\bag1.jpg"></div>
              </div>
    
              <div class="row">
       
                    <div routerLink="/details"><img src="assets\images\bag2.jpg"></div>
              </div>
    
              <div class="row">
        
                    <div routerLink="/details"><img src="assets\images\bag4.jpg"></div>
              </div>
    
              <div class="row">
       
                    <div routerLink="/details"><img src="assets\images\bag3.jpg"></div>
              </div>
    
              <div class="row">
       
                     <div routerLink="/details"><img src="assets\images\bag5.jpg"></div>
               </div>
    
              <div class="row">
      
                     <div routerLink="/details"><img src="assets\images\bag1.jpg"></div>
              </div>
            </div>
      </div>
            <div class="col-8">
            </div>

      
      
      </div>
    </div>
    
