<nav class="header">

      <h2>bags</h2>

</nav>

<div class="container">

      <div class="row">
            <div class="col-4 " (click)="showdetails(bag._id)" *ngFor="let bag of bags">
                  <div class="card cardstyle cardstyle">
                        <div class="sameline">
                              <a href="/wishlist/{{bag._id}}/{{bag.name}}/{{bag.price}}" ><i class="far fa-heart"></i> </a></div>

                        <div class="card-body fontstyle"  >
                              <img src="{{bag.mainimg}}">

                              <div  class="center">{{bag.name}}</div>

                        </div>
                        <h4 class="center">{{bag.price}}</h4>


                  </div>
            </div>
            <div class="col-4">



            </div>
            <div class="col-4"></div>


      </div>
      <br><br>
</div>

<!-- <div class="fontstyle1 zoom1" routerLink="/details">show in detail</div> -->





