<div class="container">
<nav class="header">
    
   <a routerLink="">Home</a> |
   <a routerLink="/Bags">Bags</a>
    
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-4" *ngFor="let product of bagdetails" >
        <!-- <img src="{{bag.mainimg}}"> -->
        </div>
        <div class="col-4">
            <br><br>
            <p>type</p>
            <p>{{product.color}}</p>
            <p>{{product.price}}</p>
            <input type="text" name="name" #name>
        </div>
        <div class="col-4"id="btn">
            <input type="submit" value=" Add To Wishlist" class="btn btn-light inputstyle" (click)="Wishlist(name.value)">
            <br><br>
            <input type="submit" value="Add To Package" class="btn btn-light inputstyle" (click)="Package()">
            </div>
        </div>
    
    <div class="row divmargin">
        <img src="assets\images\bag1.jpg" class="small">
        <img src="assets\images\bag1.jpg" class="small">
        <img src="assets\images\bag1.jpg" class="small">
    </div>
    
</div>
