<div class="container">
<nav class="header">
    
   <a routerLink="">Home</a> |
   <a routerLink="/Bags">Bags</a>
    
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"  >
         <img src="{{bagdetails.mainimg}}"> 
        </div>
        <div class="col-4">
            <br><br>
            
            <p>{{bagdetails.color}}</p>
            <p>{{bagdetails.price}}</p>
           
        </div>
        
        <div class="col-4"id="btn">
            <input type="submit" value=" Add To Wishlist" class="btn btn-light inputstyle" (click)="Wishlist(name.value)">
            <br><br>
            <input type="submit" value="Add To Package" class="btn btn-light inputstyle" (click)="Package()">
            </div>
        </div>
    
    <div class="row divmargin">
        <img src="{{bagdetails.img1}}" class="small">
        <img src="{{bagdetails.img2}}" class="small">
        <img src="{{bagdetails.img3}}" class="small">
        <img src="{{bagdetails.img4}}" class="small">
    </div>
    
</div>
