body
{
 
    box-sizing: border-box;
}
.catagores
{
    margin-top: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
   
}
.img
{
    width: 360px;
    height: 420px;
    border: 1px outset rgb(250, 247, 247);
    border-radius: 15px;
   
}